################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeneticApp1/.vs/GeneticApp1/v15
